<tr gk-posicion="{{ .Posicion }}" class="bg-slate-800/25 hover:bg-slate-800/50">
	<td tipo="handle" class="text-left cursor-move whitespace-nowrap">⣿ {{ .Posicion }}
		<button
			type="button"
			tipo="delete"
			hx-delete="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}"
			{{- /* hx-confirm="¿Eliminar este campo de la consulta?" */ -}}
			hx-target="#campos"
			hx-select="#campos"
			class="hidden">
			🚮
		</button>
	</td>
	<td class="w-1/4">
		<input
			type="text"
			name="expresion"
			value="{{ .Expresion }}"
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/expresion"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='expresion']"
			hx-trigger="change"
			class="w-40 form-control">
	</td>
	<td>
		<input
			type="text"
			name="alias_sql"
			value="{{ .AliasSql }}"
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/alias_sql"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='alias_sql']"
			hx-trigger="change"
			class="w-40 form-control">
	</td>
	<td>
		<input
			type="text"
			name="nombre_campo"
			value="{{ .NombreCampo }}"
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/nombre_campo"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='nombre_campo']"
			hx-trigger="change"
			class="w-40 form-control">
	</td>
	<td>
		<input
			type="text"
			name="tipo_go"
			value="{{ .TipoGo }}"
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/tipo_go"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='tipo_go']"
			hx-trigger="change"
			class="w-40 form-control">
	</td>
	<td>
		<input
			type="checkbox"
			name="pk"
			{{ if .Pk }}checked{{ end }}
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/pk"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='pk']"
			hx-trigger="change"
			title="Primary key">
	</td>
	<td>
		<input
			type="checkbox"
			name="filtro"
			{{ if .Filtro }}checked{{ end }}
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/filtro"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='filtro']"
			hx-trigger="change"
			title="Es filtro">
	</td>
	<td>
		<input
			type="checkbox"
			name="group_by"
			{{ if .GroupBy }}checked{{ end }}
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/group_by"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='group_by']"
			hx-trigger="change"
			title="Group by">
	</td>
	<td>
		<input
			type="text"
			name="descripcion"
			value="{{ .Descripcion }}"
			hx-put="/consultas/{{ .ConsultaID }}/campos/{{ .Posicion }}/descripcion"
			hx-target="this"
			hx-swap="outerHTML"
			hx-select="[name='descripcion']"
			hx-trigger="change"
			class="w-40 form-control">
	</td>
</tr>