<header class="flex gap-3 pb-6">
	<a class="inline-block text-2xl whitespace-nowrap" href="/">🏠</a>
	<h2 class="grow text-2xl font-bold text-center">Dominio</h2>
	<a class="inline-block text-2xl whitespace-nowrap" href="/dominios">❌</a>
</header>
<main class="container mx-auto">
	<header class="mb-4 space-y-1">
		<h3>
			<span class="px-2 py-1 mr-1 font-mono text-sm bg-black bg-opacity-40 rounded-md">D</span>
			<span class="opacity-50">Como</span>
			<button type="button" onclick="dlgEdit.showModal(); dlgEdit.querySelector('input').focus();" class="text-xl lowercase cursor-edit">{{ .Dominio.Persona }}</button>
			<span class="opacity-50">quiero...</span>
		</h3>
	</header>

	<div id="epicas" class="flex flex-wrap gap-4">

		{{ define "d_epica_card" }}
		<article gk-dominio="{{ .DominioID }}" class="p-3 bg-cyan-900 rounded-md shadow-lg">
			<span class="mr-1 cursor-pointer handle">⣿</span>
			<a draggable="false" href="/dominios/{{ .DominioID }}/{{ .EpicaID }}">{{ .Epica }}</a>
		</article>
		{{ end }}

		{{ range .Dominio.Epicas -}}
			{{ template "d_epica_card" . }}
		{{ end }}
	
		{{ with .Dominio -}}
		<input type="text" placeholder="Agregar épica..." name="epica" hx-target="this" hx-swap="beforebegin" hx-post="/dominios/{{ .DominioID }}" class="inline-block p-3 space-y-3 bg-cyan-900 rounded-md shadow-lg opacity-75 focus:opacity-100">
		{{- end }}
		
	</div>
</main>
<div style="height: 20vh;"></div>

<dialog id="dlgEdit" class="p-3 rounded-lg" onfocus="console.log('focus')">
	<header class="flex flex-wrap items-center gap-3 pb-2">
		<h2 class="grow w-full text-xl text-center sm:w-auto sm:text-left">Dominio</h2>
		<button type="button" class="w-10 py-1 text-xl text-slate-200 bg-slate-600 rounded-lg" onclick="this.closest('dialog').close()" title="Cerrar"><i class="fa-solid fa-xmark"></i></button>
	</header>
	{{ with .Dominio }}
	<form class="space-y-2" hx-patch="/dominios/{{ .DominioID }}">
		<div>
			<label for="input1">Persona*</label>
			<input id="input1" name="persona" value="{{ .Persona }}" type="text" class="form-control" onfocus="this.select()">
		</div>
		<div>
			<label for="input2">Contexto</label>
			<input id="input2" name="contexto" value="{{ .Contexto }}" type="text" class="form-control">
		</div>
		<div>
			<label for="input3">Tipo</label>
			<input id="input3" name="tipo" value="{{ .Tipo }}" type="text" class="form-control">
		</div>
		<div class="pt-2">
			<button type="submit" class="block w-full p-2 font-medium text-white bg-blue-800 rounded">Guardar</button>
		</div>
	</form>
	{{ end -}}
</dialog>

<div id="delete-zone" class="absolute bottom-0 right-0 hidden w-32 h-32 bg-red-700 rounded-tl-full opacity-80">
	<p class="absolute bottom-10 right-4">Eliminar</p>
</div>
<script src="/assets/js/Sortable.min.js"></script>

<script>
	// ========== INSERT ============================================== //
	document.querySelectorAll("input[name='epica']").forEach(input => {
		input.addEventListener("htmx:afterSwap", event => {
			input.value = "";
		})
	})

	// ========== SORT AND DELETE ===================================== //
	var zonaEliminar = new Sortable(document.getElementById("delete-zone"), {
    	group: "shared",
	});
	var zonaElementos = new Sortable(document.getElementById("epicas"), {
		draggable: "article",
		handle: ".handle",
		group: "shared",
		animation: 150,
		onStart: function(event) {
			event.item.classList.add("opacity-50")
			document.getElementById("delete-zone").classList.remove("hidden")
		},
		onEnd: function(event) { // Element dragging ended
			event.item.classList.remove("opacity-50")
			let dominioID = event.item.getAttribute("gk-dominio")
			// Se puede eliminar
			document.getElementById("delete-zone").classList.add("hidden")
			if (event.to.id == "delete-zone") {
				fetch(`/dominios/${dominioID}/${event.oldIndex}`, { method: 'DELETE' }).then(response => {
					response.text().then((msg) => {
						if (response.status == 200) {
							console.log(msg)
						} else {
							alert(msg)
						}
						location.reload()
					})
				});
				return
			}
			// Se puede cambiar de lugar
			if (event.oldIndex != event.newIndex){
				fetch(`/dominios/${dominioID}/${event.oldIndex}/${event.newIndex}/swap`, { method: 'POST' }).then(response => {
					response.text().then((msg) => {
						if (response.status == 200) {
							console.log(msg)
						} else {
							alert(msg)
						}
						location.reload()
					})
				});
				return
			}
		},
	});
</script>