<header class="flex gap-4 p-2 pb-4">
	<a class="inline-block float-left text-2xl whitespace-nowrap" href="/">🏠</a>
	<h2 class="flex-grow text-2xl font-bold text-center">Paquete</h2>
</header>

<main class="container flex flex-col flex-grow min-h-0 gap-4 mx-auto">

	<section class="flex flex-col min-h-0 mb-4 bg-cyan-900 rounded-lg shadow-lg">
		<header class="flex items-center justify-between gap-4 p-4 bg-cyan-800 rounded-t-lg">
			<h3 class="flex-grow text-xl font-bold">
				Entidades
			</h3>
			<div class="max-w-40">
				<input type="search" class="form-control" oninput="filtrarRows(this.value,'tEntidades')" placeholder="Filtrar...">
			</div>
		</header>
		<div class="overflow-auto scrollbar-stable">
			<table id="tEntidades" class="w-full p-2 text-center border-separate table-auto text-nowrap border-spacing-y-1">
				<thead class="sticky top-0">
					<tr class="bg-slate-400 dark:bg-slate-900">
						<th sortable="true">Tipo</th>
						<th sortable="true">Item</th>
						<th sortable="true">Tabla</th>
						<th sortable="true">Paquete</th>
						<th sortable="true">Nombre</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Tablas -}}
					<tr class="bg-cyan-800/50 hover:bg-cyan-800">
						<td><span class="p-1 font-mono text-white bg-teal-700 rounded">tbl</span></td>
						<td><a href="/v1/tablas/{{ .Nombre.Clave }}">{{ .NombreEnCodigo }}</a></td>
						<td><a href="/v1/tablas/{{ .Nombre.Clave }}">{{ .NombreEnRepo }}</a></td>
						<td><a href="/v1/paquetes/{{ .NombrePaquete }}">{{ .NombrePaquete }}</a></td>
						<td><a href="/v1/tablas/{{ .Nombre.Clave }}">{{ .Nombre.Humano }}</a></td>
					</tr>
					{{ end }}
					{{ range .Consultas -}}
					<tr class="bg-cyan-800/50 hover:bg-cyan-800">
						<td><span class="p-1 font-mono text-white bg-violet-700 rounded">qry</span></td>
						<td><a href="/v1/consultas/{{ .Nombre.Clave }}">{{ .NombreEnCodigo }}</a></td>
						<td><a href="/v1/consultas/{{ .Nombre.Clave }}">{{ .TablaOrigenID }}</a></td>
						<td><a href="/v1/paquetes/{{ .NombrePaquete }}">{{ .NombrePaquete }}</a></td>
						<td><a href="/v1/consultas/{{ .Nombre.Clave }}">{{ .Nombre.Humano }}</a></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>

	{{ if .Warnings }}
	<section class="mb-6 bg-cyan-900 rounded-lg shadow-lg">
		<header class="flex items-center gap-4 p-4 bg-cyan-800 rounded-t-lg">
			<h3 class="flex-grow text-xl font-bold">
				Warnings
			</h3>
		</header>
		<div class="overflow-x-auto max-h-96">
			<table class="w-full p-4 text-center border-separate table-auto border-spacing-y-1">
				<tbody>
					{{ range .Warnings -}}
					<tr>
						<td>{{ . }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</section>
	{{ end }}

</main>