<header class="flex flex-wrap items-center gap-3 pb-2">
	<h2 class="flex-grow w-full text-xl text-center sm:w-auto sm:text-left">Valores posibles para <b>{{ .Campo.NombreHumano }}</b></h2>
	<button type="button" class="w-10 py-1 text-2xl text-slate-200 bg-slate-400 rounded-lg hover:bg-slate-300" onclick="editValoresPosibles(this)" title="Editar">✏️</button>
	<button type="button" class="w-10 py-1 text-2xl text-slate-200 bg-slate-400 rounded-lg hover:bg-slate-300" onclick="this.parentNode.parentNode.close()" title="Cerrar">✖️</button>
</header>

<div id="tblValoresPosibles" hx-get="/campos/{{ .Campo.CampoID }}/enum" hx-target="#campoEspecialDialog" hx-swap="innerHTML" hx-trigger="campoEspecialGuardado">
	<table class="w-full px-1 text-sm border-separate table-auto border-spacing-y-1">
		<thead>
			<tr class="text-center bg-cyan-900">
				<th>#</th>
				<th>Etiqueta</th>
				<th>Clave</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			{{ range .ValoresPosibles }}
			<tr class="bg-slate-400/25 hover:bg-slate-400/50">
				<td class="text-center">{{ .Numero }}</td>
				<td>{{ .Etiqueta }}</td>
				<td class="font-mono">{{ .Clave }}</td>
				<td>{{ .Descripcion }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>

<form id="frmValoresPosibles" class="hidden">
	<table class="w-full px-1 text-sm border-separate table-auto border-spacing-y-1">
		<thead>
			<tr class="text-center bg-cyan-900">
				<th></th>
				<th>Etiqueta</th>
				<th>Clave</th>
				<th>Descripción</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="valoresPosibles">
			{{ range .ValoresPosibles }}
			<tr class="bg-slate-400/25 hover:bg-slate-400/50" draggable="true" ondragstart="dragStart()" ondragover="dragover()">
				<td>⣿</td>
				<td>
					<input class="form-control" type="text" name="etiqueta" value="{{ .Etiqueta }}" placeholder="Ejemplo uno">
				</td>
				<td>
					<input class="font-mono form-control" type="text" name="clave" maxlength="12" value="{{ .Clave }}" placeholder="ejem_01">
				</td>
				<td>
					<input class="form-control" type="text" name="descripcion" value="{{ .Descripcion }}" placeholder="Este es un ejemplo de descripción">
				</td>
				<td>
					<button type="button" class="pr-2" onclick="this.parentElement.parentElement.remove()">❌</button>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	<div class="flex justify-end gap-4 pt-2">
		<button type="button" class="block float-right px-4 py-2 font-bold text-white bg-slate-600 rounded-lg hover:bg-slate-700 " onclick="addValorPosible()">Agregar valor</button>
		<button type="button" class="block float-right px-4 py-2 font-bold text-white bg-cyan-600 rounded-lg hover:bg-cyan-700 " onclick="enviarValoresPosibles()">Guardar</button>
	</div>
</form>

<template id="tmplPosibleValor">
	<tr class="bg-slate-400/25 hover:bg-slate-400/50" draggable="true" ondragstart="dragStart()" ondragover="dragover()">
		<td>⣿</td>
		<td>
			<input class="form-control" type="text" name="etiqueta" value="" placeholder="Ejemplo uno">
		</td>
		<td>
			<input class="form-control" type="text" name="clave" value="" maxlength="12" placeholder="ejem_01">
		</td>
		<td>
			<input class="form-control" type="text" name="descripcion" value="" placeholder="Este es un ejemplo de descripción">
		</td>
		<td>
			<button type="button" class="pr-2" onclick="this.parentElement.parentElement.remove()">❌</button>
		</td>
	</tr>
</template>
  
<script>
function editValoresPosibles(btn) {
	document.getElementById("tblValoresPosibles").classList.add("hidden")
	document.getElementById("frmValoresPosibles").classList.remove("hidden")
	btn.remove()
}

function addValorPosible() {
	let tmpl = document.getElementById("tmplPosibleValor");
	let clon = tmpl.content.cloneNode(true);
	document.getElementById("valoresPosibles").appendChild(clon);
}

function enviarValoresPosibles() {
	var valores = new Array();
	var abortar = false;
	document.getElementById("frmValoresPosibles").querySelectorAll("tbody > tr").forEach((fila) => {
		let valor = {
			etiqueta: fila.querySelector('input[name="etiqueta"]').value,
			clave: fila.querySelector('input[name="clave"]').value,
			descripcion: fila.querySelector('input[name="descripcion"]').value
		}
		if (valor.etiqueta != "" || valor.clave != "" || valor.descripcion != ""){
			valores.push(valor);
			if (valor.clave == "") {
				abortar = true;
				alert("Falta clave del valor. "+valor.etiqueta+" "+valor.descripcion);
			} else if (valor.etiqueta == "") {
				abortar = true;
				alert("Falta etiqueta del valor. "+valor.clave+" "+valor.descripcion);
			}
		}
	});
	if (abortar){
		return
	}
	const reqOptions = {
		method: 'POST',
		headers: { 'Content-Type': 'application/json' },
		body: JSON.stringify(valores),
	};
	fetch("/campos/{{ .Campo.CampoID }}/enum", reqOptions).then(response => {
		if (response.status == 200) {
			console.log("Guardado con éxito");
			document.getElementById("tblValoresPosibles").dispatchEvent(new Event("campoEspecialGuardado"));
		} else {
			alert("Error al guardar");
		}
	});
}

// Reordenar filas
var draggedRow;
function dragStart(){
  draggedRow = event.target;
}
function dragover(){
	event.preventDefault();
	if (event.target.nodeName != "TD"){
		return // el elemento target puede ser td, input y generar error.
	}
	var targetRow = event.target.parentNode; // se debe comparar solo entre <tr> hermanos
	let filas = Array.from(document.getElementById("frmValoresPosibles").querySelectorAll("tbody > tr"));
	if ( filas.indexOf(targetRow) > filas.indexOf(draggedRow) ) {
		targetRow.after(draggedRow);
	} else {
		targetRow.before(draggedRow);
	}
}
</script>